{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<main class="relative min-h-[calc(100dvh-72px)]">
    <section id="whatIs" class="relative md:sticky md:top-0 min-h-[calc(100dvh-72px)] px-6 py-16 flex flex-col md:flex-row items-center justify-center gap-10 max-w-7xl mx-auto">
        <figure class=" md:w-1/2 max-h-[500px] overflow-hidden rounded-2xl shadow-xl/30">
            <img src="https://res.cloudinary.com/dbrbr4ist/image/upload/f_auto,q_auto,dpr_auto,w_800/v1766900357/20250924_093850_xcuh4x.jpg" 
            srcset="
                https://res.cloudinary.com/dbrbr4ist/image/upload/f_auto,q_auto,dpr_auto,w_800/v1766900357/20250924_093850_xcuh4x.jpg,
                https://res.cloudinary.com/dbrbr4ist/image/upload/f_auto,q_auto,dpr_auto,w_400/v1766900357/20250924_093850_xcuh4x.jpg
            "
            sizes="(max-width: 768px) 100vw, 50vw"
            alt="Imagen del taller"
            loading="lazy"
            decoding="async"
            class="w-full h-full object-cover">
        </figure>
        <div class="md:w-1/2 text-center md:text-left">
            <h2 class="text-3xl md:text-4xl font-bold text-[#1B418C] mb-4">Nuestros Mandamientos como Guerrero Bikers Services:</h2>
            <p class="text-gray-600 text-lg leading-relaxed">Fernando Guerrero, con más de 15 años de experiencia en BMW, lidera un equipo que garantiza cada trabajo. La transparencia es fundamental: explicamos el "qué", "cómo" y "por qué" antes de intervenir tu moto y te mostramos las piezas reemplazadas si lo deseas. Además, te brindamos asesoría telefónica en carretera para resolver imprevistos y acompañarte en cada viaje.</p>
        </div>
    </section>

    <div class="relative md:sticky md:top-0 bg-[#E0FFFF]">
        <section id="whatFaind" class="min-h-fit md:min-h-[calc(100dvh-72px)] px-6 py-16 flex flex-col md:flex-row items-center justify-center gap-10 max-w-7xl mx-auto ">
            <figure class=" md:w-1/2 max-h-[500px] overflow-hidden rounded-2xl shadow-xl/30">
                <img src="https://res.cloudinary.com/dbrbr4ist/image/upload/f_auto,q_auto,dpr_auto,w_800/v1767073216/edited_dac7ph.jpg" 
                srcset="
                    https://res.cloudinary.com/dbrbr4ist/image/upload/f_auto,q_auto,dpr_auto,w_800/v1767073216/edited_dac7ph.jpg,
                    https://res.cloudinary.com/dbrbr4ist/image/upload/f_auto,q_auto,dpr_auto,w_400/v1767073216/edited_dac7ph.jpg
                "
                alt="Imagen del taller"
                loading="lazy"
                decoding="async"
                class="w-full h-full object-cover">
            </figure>

            <div class="md:w-1/2 text-center md:text-left">
                <h2 class="text-3xl md:text-4xl font-bold text-[#1B418C] mb-4">¿Qué nos Mueve?</h2>
                <p class="text-gray-600 text-lg leading-relaxed">El <b>espirito Guerrero </b>es ser el taller BMW líder en Bogotá y Colombia, reconocido por nuestra transparencia, excelencia técnica y calidez humana. Queremos ser la primera opción cuando busques un taller BMW de confianza, un equipo sólido con acceso directo a distribuidores, diagnósticos precisos y una comunidad de clientes leales que valoran nuestra honestidad, trabajo arduo e impulsado por la pasión por las motos BMW y el compromiso con la excelencia.</p>
            </div>

            <figure class="md:w-1/2 max-h-[500px] overflow-hidden rounded-2xl shadow-xl/30">
                <img src="https://res.cloudinary.com/dbrbr4ist/image/upload/f_auto,q_auto,dpr_auto,w_800/v1767073611/2_m9crfg.jpg"
                srcset="
                    https://res.cloudinary.com/dbrbr4ist/image/upload/f_auto,q_auto,dpr_auto,w_800/v1767073611/2_m9crfg.jpg,
                    https://res.cloudinary.com/dbrbr4ist/image/upload/f_auto,q_auto,dpr_auto,w_400/v1767073611/2_m9crfg.jpg
                "
                alt="Imagen del taller" 
                class="w-full h-full object-cover"
                loading="lazy"
                decoding="async">
            </figure>
        </section>
    </div>

    <section id="ourService" class="sticky top-0 min-h-[calc(100dvh-72px)] px-6 py-10 flex flex-col items-center justify-center max-w-7xl mx-auto bg-[#FFFFFF]">
        <div class="w-full">

            <!-- Título -->
            <h2 class="text-3xl md:text-4xl font-bold text-[#1B418C] mb-6 text-center">
            Nuestros servicios
            </h2>

            <!-- Grid de servicios -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
            
                <article class="bg-white p-6 rounded-xl shadow-md hover:shadow-xl/30 transition">
                    <h3 class="font-semibold text-[#1B418C] mb-2">Mantenimientos BMW</h3>
                    <p class="text-sm text-gray-600">
                    Alarga la vida de tu moto con un <strong>mantenimiento preventivo BMW o  mantenimiento correctivo BMW en Bogotá.</strong> Revisión exhaustiva, lubricación, ajustes cambio de filtros para un rendimiento óptimo y seguro.
                    </p>
                </article>

                <article class="bg-white p-6 rounded-xl shadow-md hover:shadow-xl/30 transition">
                    <h3 class="font-semibold text-[#1B418C] mb-2">Reparación Integral BMW</h3>
                    <p class="text-sm text-gray-600">
                    Solucionamos cualquier avería con una <strong>reparación integral para tu BMW.</strong> Diagnóstico preciso, repuestos originales y técnicos experimentados para que tu moto vuelva a rodar como nueva.
                    </p>
                </article>

                <article class="bg-white p-6 rounded-xl shadow-md hover:shadow-xl/30 transition">
                    <h3 class="font-semibold text-[#1B418C] mb-2">Pintura Especializada BMW</h3>
                    <p class="text-sm text-gray-600">
                    Renueva el aspecto de tu BMW con nuestro servicio de <strong>pintura especializada</strong>.Utilizamos materiales de alta calidad y técnicas de vanguardia para lograr un acabado impecable y duradero.
                    </p>
                </article>

                <article class="bg-white p-6 rounded-xl shadow-md hover:shadow-xl/30 transition">
                    <h3 class="font-semibold text-[#1B418C] mb-2">Instalación de Accesorios BMW</h3>
                    <p class="text-sm text-gray-600">
                    Personaliza tu moto con nuestra amplia selección de <strong>accesorios BMW originales y accesorios homologados BMW</strong>. Instalación profesional y garantía de compatibilidad.
                    </p>
                </article>

                <article class="bg-white p-6 rounded-xl shadow-md hover:shadow-xl/30 transition">
                    <h3 class="font-semibold text-[#1B418C] mb-2">Reparación de colisiones BMW</h3>
                    <p class="text-sm text-gray-600">
                    Recupera tu moto después de un Accidente con repuestos originales y técnicos especializados. Devolvemos a tu moto su aspecto original y garantizamos la seguridad en la conducción.
                    </p>
                </article>

                <article class="bg-white p-6 rounded-xl shadow-md hover:shadow-xl/30 transition">
                    <h3 class="font-semibold text-[#1B418C] mb-2">Venta de motos BMW</h3>
                    <p class="text-sm text-gray-600">
                    Encuentra a tu compañera BMW ideal para que te acompañe en cualquier travesia. Filtramos las motocicletas con el fin de ofrecerte la de mejor estado y si la compras con nosotros, <strong>te obsequiamos el peritaje.</strong>
                    </p>
                </article>

                <article class="bg-white p-6 rounded-xl shadow-md hover:shadow-xl/30 transition">
                    <h3 class="font-semibold text-[#1B418C] mb-2">Revisiones previaje</h3>
                    <p class="text-sm text-gray-600">
                    Para ir con confianza por la ruta lo mejor que puedes hacer es una <strong>revisión previaje</strong> donde le revisaremos niveles de todos los liquidos, pastillas y correcto ajuste de sus piezas para que tu viaje sea inolvidable.
                    </p>
                </article>

                <article class="bg-white p-6 rounded-xl shadow-md hover:shadow-xl/30 transition">
                    <h3 class="font-semibold text-[#1B418C] mb-2">Peritajes</h3>
                    <p class="text-sm text-gray-600">
                    <strong>El peritaje de tu motocicleta BMW</strong> debe ser realizado por expertos en la marca.Nuestro equipo especializado te brinda información precisa y confiable para que tomes decisiones totalmente informadas.
                    </p>
                </article>

            </div>
        </div>
    </section>


</main>

{% endblock content %}