{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<main class="min-h-[calc(100vh-72px)] flex items-center justify-center">
    <div class="w-full max-w-md bg-white p-8 rounded-xl shadow-lg">
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Iniciar sesión</h1>
        <form action="" method="post" class="my-8">
            {% csrf_token %}
            {{ form|crispy }}
            <button
                class="inline-block rounded border border-[#1B418C] bg-[#1B418C] px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-[#1B418C] focus:outline-none focus:ring active:text-indigo-500" 
                type="submit">
                Login
            </button>
        </form>
        <p class="text-center text-sm text-gray-500 mt-4">
            Si no tienes cuenta por favor comunicate con el administrador.
        </p>
    </div>
</main>
{% endblock content %}