<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guerro Bikers Services</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<div>
    <a
        href="https://wa.me/573134498177/?text=Hola%20Guerrero,%20estoy%20interesado%20en%20agendar%20una%20cita%20para:%20"
        target="_blank"
        class="fixed bottom-6 right-6 z-50 bg-green-500 text-white w-14 h-14 rounded-full
             flex items-center justify-center
             shadow-lg hover:bg-green-600
             transition"
    >

        <svg width="200" height="200" viewBox="0 0 200 200" xmlns="www.w3.org">
            <defs>
                <!-- Gradiente para la burbuja #05C7F2 -->
                <radialGradient id="bubbleGrad" cx="50%" cy="50%" r="50%" fx="30%" fy="30%">
                <stop offset="0%" stop-color="#80EAFF" />
                <stop offset="80%" stop-color="#05C7F2" />
                <stop offset="100%" stop-color="#04A3C6" />
                </radialGradient>
                
                <!-- Sombra suave para el globo de texto -->
                <filter id="softDrop" x="-20%" y="-20%" width="150%" height="150%">
                <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
                <feOffset dx="2" dy="2" />
                <feComponentTransfer>
                    <feFuncA type="linear" slope="0.2" />
                </feComponentTransfer>
                <feMerge>
                    <feMergeNode />
                    <feMergeNode in="SourceGraphic" />
                </feMerge>
                </filter>
            </defs>

            <!-- Burbuja Exterior -->
            <circle cx="100" cy="100" r="90" fill="url(#bubbleGrad)" />
            
            <!-- Brillo de la burbuja -->
            <ellipse cx="65" cy="55" rx="25" ry="12" fill="white" fill-opacity="0.4" transform="rotate(-35, 65, 55)" />
            <circle cx="140" cy="140" r="6" fill="white" fill-opacity="0.2" />

            <!-- GLOBO DE TEXTO (Estilo Blando) -->
            <g filter="url(#softDrop)">
                <!-- Cuerpo del globo de diálogo con esquinas muy redondeadas (rx="15") -->
                <rect x="60" y="70" width="80" height="60" rx="15" fill="white" />
                
                <!-- La "cola" del globo de diálogo (forma de triángulo suave) -->
                <path d="M100 130 L90 145 L115 130 Z" fill="white" />
            </g>
        </svg>
    </a>
</div>

<body style="--nav-h:72px" class="pt-[var(--nav-h)]">
    {% load static %}

    <nav class="bg-[#1B418C] text-white fixed top-0 left-0 w-full z-50 shadow-md">
        <div class="max-w-7xl mx-auto px-4">
            <div class="flex items-center justify-between h-[72px]">
                <!-- Logo -->
                <section id="logo" class="flex items-center">
                    <a href="{% url "login" %}">
                        <img src="https://res.cloudinary.com/dbrbr4ist/image/upload/v1760369717/LOGO_ALTA_rjiq6q.png"
                        alt="Logo Guerrero"
                        class="h-12 w-12 rounded-full object-cover">
                    </a>
                </section>

                <!-- Texto -->
                <p class="hidden sm:block text-sm text-center">
                    ¡Expertos en lo que hacemos!
                </p>

                <section id="menu_desktop" class="flex items-center">
                    
                    <!-- Menú escritorio -->
                    <ul class="hidden md:flex space-x-6">
                        <li><a href="/" class="hover:text-[#05C7F2]">Inicio</a></li>
                        <li><a href="/nosotros/" class="hover:text-[#05C7F2]">Nosotros</a></li>
                        <li><a href="{% url "list_product" %}" class="hover:text-[#05C7F2]">Ventas</a></li>
                    </ul>

                    <!-- Botón hamburguesa -->
                    <button id="menu-btn"
                        class="md:hidden ml-4 flex flex-col justify-center items-center w-8 h-8 group space-y-1.5">
                        <span class="line w-6 h-0.5 bg-white transition-all"></span>
                        <span class="line w-6 h-0.5 bg-white transition-all"></span>
                        <span class="line w-6 h-0.5 bg-white transition-all"></span>
                    </button>
                </section>
            </div>
        </div>
    </nav>


    <section id="mobile-menu"
        class="fixed top-[74px] right-4 w-38 bg-[#1B418C] text-white rounded-xl shadow-xl
                max-h-0 overflow-hidden transition-all duration-500 ease-in-out
                md:hidden z-40 shadow-md">
        
        <div class="flex flex-col items-center space-y-4 py-4">
            <ul>
                <li><a href="/" class="hover:text-[#05C7F2]">Inicio</a></li>
                <li><a href="/nosotros/" class="hover:text-[#05C7F2]">Nosotros</a></li>
                <li><a href="{% url "list_product" %}" class="hover:text-[#05C7F2]">Ventas</a></li>
            </ul>
        </div>
    </section>

    
    <main class="min-h-[calc(100vh-72px)] px-6 py-6">
        {% block content %}{% endblock content %}
    </main>


    <footer class="bg-[#1B418C] text-white py-6">
        <div class="container mx-auto px-4">
            <div class="border-b pb-5 border-gray-300 flex flex-col md:flex-row justify-between items-center md:items-start text-center md:text-left gap-10">
            
                <figure id="first_colum_footer" class="flex flex-col items-center justify-center gap-4 text-center w-full md:w-auto">
                    <a href="{% url "login" %}">
                        <img src="https://res.cloudinary.com/dbrbr4ist/image/upload/v1760369717/LOGO_ALTA_rjiq6q.png" 
                            alt="Logo Guerrero" 
                            class="w-40 h-40 rounded-full object-cover mx-auto">
                    </a>  
                </figure>

                <section id="second_colum_footer">
                    <h3 class="font-bold mb-2">Info general</h3>
                    <ul class="space-y-1 text-sm">
                        <li><a href="#" class="hover:text-[var(--logo-ligth-blue)]">Sobre nosotros</a></li>
                        <li><a href="#" class="hover:text-[var(--logo-ligth-blue)]">Políticas de privacidad</a></li>
                        <li><a href="#" class="hover:text-[var(--logo-ligth-blue)]">Términos y condiciones</a></li>
                    </ul>

                    <div class="flex justify-center space-x-2 mt-2">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/share/1YUfdvDm2W/" 
                            target="_blank" 
                            aria-label="Facebook" 
                            class="transition-opacity hover:opacity-80">
                            <svg class="w-8 h-8" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="fbTitle">
                                <title id="fbTitle">Facebook</title>
                                <rect x="2" y="2" width="20" height="20" rx="4" ry="4" fill="#05C7F2"/>
                                <path d="M15.5 8.5h-1.4c-.4 0-.8.3-.8.8v1h2.2l-.3 2.1h-1.9V19h-2.2v-6.6h-1.8v-2.1h1.8V9.6c0-1.6 1.1-2.8 2.7-2.8.8 0 1.5.1 1.7.2v2z" fill="#F2F2F2"/>
                            </svg>
                        </a>

                        <!-- Instagram -->
                        <a href="https://www.instagram.com/guerrerobikersservices?igsh=MWFvZWpuNG12ODRjNg==" 
                            target="_blank" 
                            aria-label="Instagram" 
                            class="transition-opacity hover:opacity-80">
                            <svg class="w-8 h-8" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="igTitle">
                                <title id="igTitle">Instagram</title>
                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5" fill="#C13584"/>
                                <circle cx="12" cy="12" r="3.2" fill="#ffffffff"/>
                                <circle cx="12" cy="12" r="2.5" fill="#C13584"/>
                                <circle cx="17.5" cy="6.5" r="0.9" fill="#ffffffff"/>
                            </svg>
                        </a>
                    </div>
                </section>

                <section id="tird_colum_footer">
                    <h3 class="font-bold mb-2">Servicios y ubicación</h3>
                    <ul class="space-y-1 text-sm">
                        <li><a href="{% url "list_product" %}" class="hover:text-[#05C7F2]">Ventas</a></li>
                        <li><a href="https://wa.me/573134498177/?text=Hola%20Guerrero,%20estoy%20interesado%20en%20agendar%20una%20cita%20para:%20" class="hover:text-[#05C7F2]">Agendamiento</a></li>
                        <li><a href="https://maps.app.goo.gl/dbEgAST3b6aTtSQBA"class="hover:text-[#05C7F2]" >¿Como llego?</a></li>
                    </ul>
                </section>
            </div>

            <!-- Línea inferior -->
            <small class="block pt-3 text-center text-xs text-[var(--gray)]">
                <p>© {{ year|default:2025 }} Mi Marca. Todos los derechos reservados.</p>
                <p class="text-sm text-[var(--white)]">Expertos en lo que hacemos.</p>
            </small>
        </div>
    </footer>
</body>
<script src="{% static 'js/base.js' %}" defer></script>
</html>