<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guerro Bikers Services</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    {% load tailwind_filters %}
    <div>
        Hola, 
        {% if user.is_authenticated %}
        <form action="{% url "logout" %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Cerrar sesión</button>
        </form>
        {% else %}
            <a href="{% url "login" %}">Login</a>
        {% endif %}
    </div>
    {% block content %}{% endblock content %}
</body>
</html>